@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import '~bootstrap-datetimepicker-sass/src/sass/bootstrap-datetimepicker';
@import '~easy-autocomplete/src/sass/easy-autocomplete';

html, body {
  height: 100%;
}

.clear {
  clear: both;
  height: 0;
  font-size: 0;
  line-height: 0;
}
.userBar {
  margin-bottom: 0;
  border-radius: 0;
}

.header {
  border-bottom: 1px solid #e7e7e7;
  background-image: -webkit-linear-gradient(#f2f4f6, white);
  background-image: linear-gradient(#f2f4f6, white);
}
.header-container {
  padding: 0 25px;
  line-height: 70px;
}
.header-container-link {
  text-decoration: none;
  display: block;
}
.header-container-link-project,
.header-container-link-app,
.header-container-link > h1 {
  display: inline-block;
  vertical-align: middle;
  color: #434a54;
}
.header-container-link > h1 {
  color: #434a54;
  font-family: Antonio, Arial, serif;
  font-style: normal;
  font-size: 2.5em;
  font-weight: bold;
  padding: 0 50px 0 7px;
  margin: 0;
}
.header-container-link-project,
.header-container-link-app {
  font-size: 2.5em;
}
.menu {
  border-radius: 0;
  border-top: 0;
  border-bottom: 4px solid #187cb8;
  background-image: -webkit-linear-gradient(white, #f2f4f6);
  background-image: linear-gradient(white, #f2f4f6);
}
.menu a {
  font-weight: normal;
}
.menu .nav > .dropdown.open > a,
.menu .nav > .dropdown.open > a:hover {
  background-color: #187cb8;
  color: #FFFFFF;
}
.menu .nav > .active > a,
.menu .nav > .active > a:hover,
.menu .nav > li > a:hover {
  background-color: #187cb8;
  color: #FFFFFF;
}
.menu .dropdown-menu > li > a:hover {
  background-color: #187cb8;
  color: #FFFFFF;
}

ol.breadcrumb {
  background: none;
  margin-bottom: 10px;
}

.breadcrumb > li + li::before {
  content: "";
}

.body {
  padding: 0 25px;
}

h2, h3, h4 {
  margin-top: 10px;
}

.mini-body {
  width: 700px;
}

.flash p {
  padding: 15px;
}

label.required:after {
  content: " *";
  color: red;
}

.notice {
  font-size: 1.2em;
  font-weight: bold;
  margin: 1.3em 0;
}

.table-nbElements {
  margin: 1em 0;
  font-weight: bold;
}
