#noResult {
  background: rgba(0, 0, 0, 0) url("../img/no-result.png") no-repeat scroll left top;
  height: 400px;
  width: 700px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  font-size: 15px;
  min-height: 200px;
  padding: 60px 30px 10px;
}

#errorCont {
  background: #fff none repeat scroll 0 0;
  color: #555;
  font-size: 20px;
  left: 303px;
  line-height: 30px;
  min-height: 100px;
  text-align: left;
  top: 135px;
  width: 440px;
  position: absolute;
}
