{% for alert in app.session.flashBag.get(constant('App\\Session\\Flash::TYPE_ERROR')) %}
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ alert|trans }}
    </div>
{% endfor %}

{% for alert in app.session.flashBag.get(constant('App\\Session\\Flash::TYPE_NOTICE')) %}
    <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ alert|trans }}
    </div>
{% endfor %}

{% for alert in app.session.flashBag.get(constant('App\\Session\\Flash::TYPE_INFO')) %}
    <div class="alert alert-info" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ alert|trans }}
    </div>
{% endfor %}
