<header class="header">
    <div class="header-container">
        <a href="{{ path('app_travels') }}" class="header-container-link">
            {% spaceless %}
                <span class="glyphicon glyphicon-globe header-container-link-app" aria-hidden="true"></span>
                <h1>Travelbook <small>{{ app_version }}</small></h1>
            {% endspaceless %}
        </a>
    </div>
</header>
