{% macro boolean (state) %}
    {% if state %}
        <span class="glyphicon glyphicon-ok"></span>
    {% else %}
        <span class="glyphicon glyphicon-remove"></span>
    {% endif %}
{% endmacro %}
